version: '3.8'

services:
  web:
    build: .
    container_name: swarajatim_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: swarajatim_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: swarajatim_db
      MYSQL_USER: swarajatim
      MYSQL_PASSWORD: swarajatim123
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
